---
---

$site-ui-mode: {{ site.ui.mode | default: 'auto' }};

$site-ui-brand-dark: {{ site.ui.brand.dark | default: '#00ceff' }};
$site-ui-brand-light: {{ site.ui.brand.light | default: '#a20000' }};

$site-ui-border-color-dark: {{ site.ui.border_color.dark | default: '#5f5f5f' }};
$site-ui-border-color-light: {{ site.ui.border_color.light | default: '#dee2e6' }};

$site-ui-header-dark-color1: {{ site.ui.header.dark.color1 | default: '#062a48' }};
$site-ui-header-dark-color2: {{ site.ui.header.dark.color2 | default: '#304e67' }};
$site-ui-header-light-color1: {{ site.ui.header.light.color1 | default: '#080331' }};
$site-ui-header-light-color2: {{ site.ui.header.light.color2 | default: '#673051' }};

$site-ui-masthead-color-dark: {{ site.ui.masthead.color.dark | default: '#fff' }};
$site-ui-masthead-color-light: {{ site.ui.masthead.color.light | default: '#fff' }};

@import 'abstracts/highlight-dark';
@import 'abstracts/highlight-light';
@import 'abstracts/themer';
@import 'abstracts/variables';

// Base Styles
@import 'base/anchor';
@import 'base/body';
@import 'base/scope-markdown';

// Components
@import 'components/alert';
@import 'components/footer';
@import 'components/header';
@import 'components/highlight';
@import 'components/masthead';
@import 'components/mobile-toc';
@import 'components/sidebar';

// Utilities
@import 'utilities/colors';
@import 'utilities/js';

#skip a
{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#skip a:focus
{
  position:static;
  width:auto;
  height:auto;
}

h1,h2,h3,.h1,.h2,.h3,.h4 {
  font-family: "Hind";
  font-weight: 600;
}

div#ewac-results.d-flex div.p-2 {
 font-size: x-large;
}

.read-more {
  margin-top:2rem;
  margin-bottom:3rem
}

.card .read-more {
  color: #003087;
  margin-top:auto;
  margin-bottom:0;
  text-align:right;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.qaudit {
  margin-top: 50px;
  margin-bottom: 50px;
}

.read-more::after {
  content: "\f0a9";
  font-family: "Font Awesome 5 Free";
  speak:none;
  font-style:normal;
  font-weight: 900;
  display: inline-block;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  font-size:smaller;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}


.unit-def {
  display: block;
  margin: 50px auto;
  width: 80%;
  height: auto;
}

h2 {
  font-size: 1.5rem !important;
  margin-top: 0 !important;
  margin-bottom: 50px !important;
}

.btn-toolbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}


/* Iryna's CSS */
.layout-page__main {
  min-height: calc(100vh - 390px);
}

.questionary_scope {
  padding: 70px 0;
}

.questionary_scope .questionnaire_step h2 {
  margin-bottom: 0 !important;
}

.questionary_scope .questionnaire_step .btn-toolbar {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 30px 0 0 0;
}

.questionary_scope .questionnaire_step .btn-group {
  display: flex !important;
  flex: 1 1 0px;
}

.questionary_scope .screen1 .notice {
  margin: 16px 0 0 0;
}

.questionary_scope .screen1 .notice strong {
  font-weight: bold;
}

.questionary_scope .screen1 .btn-group {
  width: 160px;
}

.questionary_scope .btn-group:last-child {
  margin-right: 0 !important;
}

.questionary_scope .btn-group button {
  background: #002a88;
  border: none !important;
  min-height: 60px;
}

.questionary_scope .btn-group:hover button, .questionary_scope .btn-group button.active {
  background-color: #007fe0 !important;
}

.questionnaire_steps {
  display: none;
}

.questionnaire_steps .questionnaire_step {
  display: none;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  padding-top: 50px;
}

.questionnaire_steps.active {
  display: flex;
  flex-direction: column;
}

.questionnaire_step.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  display: flex;
  flex-direction: column;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.questionnaire_step_navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 60px;
}

.questionnaire_step_navigation .btn-group {
  position: absolute;
  top: 0;
  margin: 0 !important;
}

.questionnaire_step_navigation .btn, .btn-reset .btn {
  width: 120px;
}


.questionnaire_step_navigation .btn-group-prev {
  left: 0;
  display: none;
}


.questionnaire_results {
  display: none;
}

.questionnaire_results #ewac-results-box {
  margin-top: 0;
  border-left-color: #002a88 !important;
}

#ewac-results {
  align-items: center;
}

.results_ukunits, .results_grams {
  color: #002a88 !important;
  font-size: 32px;
  font-weight: bold;
}

.unit-def-mob {
  display: none !important;
}

.btn-reset {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 30px;
}

.progress_bar {
  position: absolute;
  max-width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 16px;
}

.progress_bar span {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid #002a88;
  opacity: 0.7;
  margin: 0 3px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.progress_bar span.active {
  opacity: 1;
  background: #002a88;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.auditc {
  margin: 16px 0 0 0;
}

.auditc span {
  color: #002a88;
  font-weight: bold;
}

.img_wrap_main {
  width: 80%;
  margin: 15px auto 0 auto;
  flex-direction: column;
}

.img_units_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10px;
}

.img_wrap_main p {
  font-size: 18px;
  margin: 15px 0 0 0;
}

.img_units_container .img_wrap {
  width: calc(100% / 7);
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  align-items: center;
}

.img_units_container .img_holder img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.img_units_container .img_wrap .img_holder {
  width: 40px;
  max-width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 0;
}

.img_units_container .img_wrap .img_holder_wide {
  width: 50px;
  max-width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 0;
}

.img_units_container .img_wrap .img_label {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (max-width: 991px) {
  .questionary_scope .btn-group button {
    padding: 6px !important;
  }

  .questionary_scope .questionnaire_step .btn-group button {
    font-size: 12px;
    line-height: 14px;
  }

  .unit-def, .img_wrap_main {
    margin: 30px auto;
    width: 100%;
    height: auto;
  }
  .img_wrap_main p {
    font-size: 16px;
  }
  .img_units_container .img_wrap {
    padding: 0 5px;
  }
  .img_units_container .img_wrap .img_label {
    ont-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 767px) {
  .questionary_scope {
    padding: 15px 0;
  }

  .questionary_scope .questionnaire_step .btn-toolbar {
    flex-wrap: wrap;
    flex: initial;
  }

  .questionary_scope .questionnaire_step h2 {
    font-size: 18px !important;
  }

  .questionary_scope .questionnaire_step .btn-group {
    width: calc((100% - 20px) / 3) !important;
    margin: 5px 10px 5px 0 !important;
    flex: initial;
  }

  .questionary_scope .questionnaire_step .btn-group:nth-child(3n) {
    margin: 5px 0 !important;
  }

  .unit-def {
    display: none !important;
  }

  .unit-def-mob {
    display: block !important;
    width: 100%;
    margin: 30px 0;
    height: auto;
  }

  #ewac-results {
    flex-direction: column;
  }

  .progress_bar {
    left: auto;
    justify-content: flex-end;
  }
  .img_units_container {
    justify-content: center;
  }
  .img_units_container .img_wrap {
    width: calc(100% / 3);
  }
}


.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #5bc0de
}

.bd-callout-info h4 {
  color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
  color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-callout-danger h4 {
  color: #d9534f
}