---
---

$site-ui-mode: {{ site.ui.mode | default: 'auto' }};

$site-ui-brand-dark: {{ site.ui.brand.dark | default: '#00ceff' }};
$site-ui-brand-light: {{ site.ui.brand.light | default: '#a20000' }};

$site-ui-border-color-dark: {{ site.ui.border_color.dark | default: '#5f5f5f' }};
$site-ui-border-color-light: {{ site.ui.border_color.light | default: '#dee2e6' }};

$site-ui-header-dark-color1: {{ site.ui.header.dark.color1 | default: '#062a48' }};
$site-ui-header-dark-color2: {{ site.ui.header.dark.color2 | default: '#304e67' }};
$site-ui-header-light-color1: {{ site.ui.header.light.color1 | default: '#080331' }};
$site-ui-header-light-color2: {{ site.ui.header.light.color2 | default: '#673051' }};

$site-ui-masthead-color-dark: {{ site.ui.masthead.color.dark | default: '#fff' }};
$site-ui-masthead-color-light: {{ site.ui.masthead.color.light | default: '#fff' }};

@import 'abstracts/highlight-dark';
@import 'abstracts/highlight-light';
@import 'abstracts/themer';
@import 'abstracts/variables';

// Base Styles
@import 'base/anchor';
@import 'base/body';
@import 'base/scope-markdown';

// Components
@import 'components/alert';
@import 'components/footer';
@import 'components/header';
@import 'components/highlight';
@import 'components/masthead';
@import 'components/mobile-toc';
@import 'components/sidebar';

// Utilities
@import 'utilities/colors';
@import 'utilities/js';


h1,h2,h3,.h1,.h2,.h3,.h4 {
  font-family: "Hind";
  font-weight: 600;
}

div#ewac-results.d-flex div.p-2 {
 font-size: x-large;
}

.read-more {
  margin-top:2rem;
  margin-bottom:3rem
}

.card .read-more {
  color: #003087;
  margin-top:auto;
  margin-bottom:0;
  text-align:right;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.qaudit {
  margin-top: 50px;
  margin-bottom: 50px;
}

.read-more::after {
  content: "\f0a9";
  font-family: "Font Awesome 5 Free";
  speak:none;
  font-style:normal;
  font-weight: 900;
  display: inline-block;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  font-size:smaller;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #5bc0de
}

.bd-callout-info h4 {
  color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
  color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-callout-danger h4 {
  color: #d9534f
}