---
layout: compress
---

<html lang="en" class="no-js">
    <head>
        {% include head/full.html %}
        <div id="skip"><a href="#content">Skip to Main Content</a></div>
    </head>

    <body class="layout-{{ page.layout }}" data-spy="scroll" data-target="#page-toc" data-offset="0">
        {% include navigation.html %}
        {% include masthead.html %}

        <main id="content" role="main">
        {{ content }}
        </main>

        {% include footer/full.html %}
    </body>
</html>
